wp-admin/**/*
wp-includes/**/*
wp-content/themes/UnderStrap/node_modules/**/*
.vscode/**/*
wp-content/themes/UnderStrap/npm-debug.log
wp-content/themes/UnderStrap/.jshintrc
wp-content/themes/UnderStrap/backup.sql
