// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

.bg-black {
    background-color: $dark;
}

a {
    color: darken($primary, 20%);
}

ul {
    list-style: none;
    li:not([class*=item])::before, li.cat-item::before {
        content: "•"; color: $accent-color;
        display: inline-block; width: 0.7em;
        margin-left: -1em
    }
}

ol {
    list-style: none; 
    counter-reset: li;
    li:not(.comment)::before {
        counter-increment: li;
        content: counter(li);
        color: $accent-color;
        display: inline-block;
        width: 1em;
        margin-left: -1.5em;
        margin-right: 0.5em;
        text-align: right;
        direction: rtl;
    }
}

article, table, form {
    margin-bottom: 3rem;
}

.navbar {
    border-bottom: 1px solid $light;
    a {
        margin-left: 0.1em;
        margin-right: 0.1em;
    }
}

.navbar-nav {
    li {
        a {
            font-size: 1.2rem;
            transition: all 0.45s ease-in-out;
            &:hover {
                @include red-hover;
            }
        }
    }
    > .active {
        > a {
            @include red-hover;
        }
    }
}

blockquote {
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    &:before {
        position: absolute;
        left: 0;
        top: 0.3rem;
        content: '\201C';
        font-size: 2.5rem;
        line-height: 1rem;
        color: $accent-color;
    }

}

img.wp-post-image,
article img,
figure,
img,
#secondary img {
  margin-bottom: 0.5rem;
}

.entry-meta {
    color: $light;
    a {
        color: lighten($primary, 10%);
    }
}

.tags-links {
    a {
        display: inline-block;
        padding: 0 7px;
        border-radius: $border-radius;
        background-color: $lighter;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: darken($lighter, 10%);
            text-decoration: none;
        }
    }
}

.entry-footer {
    > span {
        display: block;
    }
}

.custom-logo-link {
    img {
        max-height: 50px;
        margin-bottom: 0;
    }
}

.nav-links {
    .fa {
        &:before {
            color: $accent-color;
        }
    }
}