// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #333333; 
$dark: #111111;
$light: #cccccc;
$headings-color: #555555;
$body-color: #333333;
$active-background: #333333;
$accent-color: #E41318;

$border-radius:                 2px;

$headings-margin-bottom:        0.7em;
$headings-font-family:          Oswald, sans-serif;
$font-family-base:              'Open Sans Condensed', sans-serif;
$font-weight-base:              300;
$headings-font-weight:          400;

$btn-border-radius:             2px;
$btn-border-radius-lg:          3px;
$btn-border-radius-sm:          1px;
$btn-border-width:              2px;

$input-border-width:            2px;
$input-border-radius:           2px;
$input-border-radius-lg:        3px;
$input-border-radius-sm:        1px;
